1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/OCISchemaDeprecated15.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  D E P R E C A T E D  15                -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="./OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="./OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="./OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- D E P R E C A T E D  C O M M A N D S  F R O M  R E L E A S E  15                   -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemRoutingCallTypeAddRequest    
    SystemRoutingCallTypeGetRequest    
    RoutingPolicyCallScreeningAddInstanceRequest    
    RoutingPolicyCallScreeningGetInstanceRequest    
    RoutingPolicyCallScreeningModifyInstanceRequest    
    RoutingPolicyCallScreeningAddCallTypeProcessingRuleRequest    
    RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryRequest    
    RoutingPolicyCallScreeningGetCallTypeProcessingRuleListRequest    
    SystemRoutingDialPlanGetRequest    
    SystemRoutingDialPlanGetListRequest    
    RoutingPolicySubscriberLocationAddInstanceRequest    
    RoutingPolicySubscriberLocationGetInstanceRequest    
    
  --> 
  
  <xs:complexType name="SystemRoutingCallTypeAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a routing call type.
        The response is either SuccessResponse or ErrorResponse.
        Replaced By: SystemRoutingCallTypeAddRequest16
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="category" type="CallCategory"/>
          <xs:element name="supportE164" type="xs:boolean"/>
          <xs:element name="description" type="CallTypeDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetRequest">
    <xs:annotation>
      <xs:documentation>
        Add a routing call type.
        The response is either SystemRoutingCallTypeGetResponse or ErrorResponse.
        Replaced By: SystemRoutingCallTypeGetRequest16
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingCallTypeGetListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="category" type="CallCategory"/>
          <xs:element name="supportE164" type="xs:boolean"/>
          <xs:element name="description" type="CallTypeDescription" minOccurs="0"/>
          <xs:element name="isSystemDefined" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either a SuccessResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningAddInstanceRequest16
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="allowTollCallsWithoutPrefix" type="xs:boolean"/>
          <xs:element name="allowLocalCallsWithPrefix" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either a RoutingPolicyCallScreeningGetInstanceResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningGetInstanceRequest16
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to a RoutingPolicyCallScreeningGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="allowTollCallsWithoutPrefix" type="xs:boolean"/>
          <xs:element name="allowLocalCallsWithPrefix" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either a SuccessResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningModifyInstanceRequest16
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
          <xs:element name="allowTollCallsWithoutPrefix" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowLocalCallsWithPrefix" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningAddCallTypeProcessingRuleRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a call type processing rule entry.
        The response is either a SuccessResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningAddCallTypeProcessingRuleRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="incomingCallType" type="CallType"/>
          <xs:element name="translatedCategory" type="TranslatedCallCategory"/>
          <xs:element name="e164Call" type="xs:boolean"/>
          <xs:element name="unconditional" type="xs:boolean"/>
          <xs:element name="action" type="CallTypeProcessingAction"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given call type processing rule entry.
        The response is either a RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="incomingCallType" type="CallType"/>
          <xs:element name="translatedCategory" type="TranslatedCallCategory"/>
          <xs:element name="e164Call" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryRequest.
        Replaced By: RoutingPolicyCallScreeningGetCallTypeProcessingRuleEntryResponse16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="unconditional" type="xs:boolean"/>
          <xs:element name="action" type="CallTypeProcessingAction"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetCallTypeProcessingRuleListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of call type processing rule entries.
        The response is either a RoutingPolicyCallScreeningGetCallTypeProcessingRuleListResponse or an ErrorResponse.
        Replaced By: RoutingPolicyCallScreeningGetCallTypeProcessingRuleListRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactIncomingCallType" type="SearchCriteriaExactCallType" minOccurs="0"/>
          <xs:element name="searchCriteriaExactTranslatedCategory" type="SearchCriteriaExactTranslatedCallCategory" minOccurs="0"/>
          <xs:element name="searchCriteriaExactE164Call" type="SearchCriteriaExactE164Call" minOccurs="0"/>
          <xs:element name="searchCriteriaExactUnconditional" type="SearchCriteriaExactUnconditional" minOccurs="0"/>
          <xs:element name="searchCriteriaExactCallTypeProcessingAction" type="SearchCriteriaExactCallTypeProcessingAction" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyCallScreeningGetCallTypeProcessingRuleListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyCallScreeningGetCallTypeProcessingRuleListRequest.
        The column headings are: "Incoming Call Type", "Translated Category", "E164 Call", "Unconditional", "Action".
        Replaced By: RoutingPolicyCallScreeningGetCallTypeProcessingRuleListResponse16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callTypeProcessingRuleTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a dial plan.
        The response is either SystemRoutingDialPlanGetResponse or ErrorResponse.
        Replaced By: SystemRoutingDialPlanGetRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanGetRequest.
        Replaced By: SystemRoutingDialPlanGetResponse16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isInitialDialPlan" type="xs:boolean"/>
          <xs:element name="isInitialE164DialPlan" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of dial plans for a given country code.
        The response is either SystemRoutingDialPlanGetListResponse or ErrorResponse.
        Replaced By: SystemRoutingDialPlanGetListRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanGetListRequest.
        The column headings are: "Dial Plan", "Is Initial", "Is E164 Initial".
        Replaced By: SystemRoutingDialPlanGetListResponse16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dialPlanTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySubscriberLocationAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
        Replaced By: RoutingPolicySubscriberLocationAddInstanceRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ignoreOffNetUsers" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySubscriberLocationGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicySubscriberLocationGetInstanceResponse or ErrorResponse.
        Replaced By: RoutingPolicySubscriberLocationGetInstanceRequest16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySubscriberLocationGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicySubscriberLocationGetInstanceRequest.
        Replaced By: RoutingPolicySubscriberLocationGetInstanceResponse16sp2
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="ignoreOffNetUsers" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
</xs:schema>
