1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/OCISchemaRouting.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  R O U T I N G  P A R T                 -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="./OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="./OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="./OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- R O U T I N G  P A R T    R E Q U E S T S  A N D  R E S P O N S E S                -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemRoutingCallTypeAddRequest16    
    SystemRoutingCallTypeDeleteRequest    
    SystemRoutingCallTypeGetRequest16    
    SystemRoutingCallTypeGetListRequest    
    SystemRoutingCallTypeModifyRequest    
    SystemRoutingPolicyGetInstanceListRequest    
    SystemRoutingPolicyGetValidCallTypeRequest    
    SystemRoutingProfileAddRequest    
    SystemRoutingProfileDeleteRequest    
    SystemRoutingProfileAddSubscriptionRequest    
    SystemRoutingProfileDeleteSubscriptionRequest    
    SystemRoutingProfileGetRequest    
    SystemRoutingProfileGetListRequest    
    SystemRoutingProfileSetDefaultRequest    
    SystemRoutingProfileGetDefaultRequest    
    SystemRoutingDialPlanAddRequest    
    SystemRoutingDialPlanDeleteRequest    
    SystemRoutingDialPlanGetRequest16sp2    
    SystemRoutingDialPlanGetListRequest16sp2    
    SystemRoutingDialPlanModifyRequest    
    SystemRoutingDialPlanEntryAddRequest    
    SystemRoutingDialPlanEntryDeleteRequest    
    SystemRoutingDialPlanEntryGetListRequest    
    SystemRoutingDialPlanEntryGetRequest    
    SystemRoutingDialPlanEntryModifyRequest    
    SystemRoutingNationalDestinationCodeAddRequest    
    SystemRoutingNationalDestinationCodeDeleteRequest    
    SystemRoutingNationalDestinationCodeGetListRequest    
    SystemRoutingNationalDestinationCodeGetRequest    
    SystemRoutingNationalDestinationCodeModifyRequest    
    SystemRoutingZoneAddRequest    
    SystemRoutingZoneDeleteRequest    
    SystemRoutingZoneGetListRequest    
    SystemRoutingRateCenterAddRequest    
    SystemRoutingRateCenterDeleteRequest    
    SystemRoutingRateCenterGetListRequest    
    SystemRoutingRateCenterModifyRequest    
    SystemRoutingDigitManipulationIndexAddRequest    
    SystemRoutingDigitManipulationIndexDeleteRequest    
    SystemRoutingDigitManipulationIndexGetListRequest    
    SystemRoutingDigitManipulationIndexGetRequest    
    SystemRoutingDigitManipulationIndexModifyRequest    
    SystemRoutingLocalCallingAreaIdAddRequest    
    SystemRoutingLocalCallingAreaIdDeleteRequest    
    SystemRoutingLocalCallingAreaIdGetRequest    
    SystemRoutingLocalCallingAreaIdGetListRequest    
    SystemRoutingLocalCallingAreaIdModifyRequest    
    
  --> 
  
  <xs:complexType name="SystemRoutingCallTypeAddRequest16">
    <xs:annotation>
      <xs:documentation>
        Add a routing call type.
        The response is either c or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="category" type="CallCategory"/>
          <xs:element name="supportE164" type="xs:boolean"/>
          <xs:element name="description" type="CallTypeDescription" minOccurs="0"/>
          <xs:element name="charge" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a routing call type.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetRequest16">
    <xs:annotation>
      <xs:documentation>
        Get a routing call type.
        The response is either SystemRoutingCallTypeGetResponse16 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetResponse16">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingCallTypeGetRequest16.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="category" type="CallCategory"/>
          <xs:element name="supportE164" type="xs:boolean"/>
          <xs:element name="description" type="CallTypeDescription" minOccurs="0"/>
          <xs:element name="isSystemDefined" type="xs:boolean"/>
          <xs:element name="charge" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get all routing call types.
        The response is either SystemRoutingCallTypeGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingCallTypeGetListRequest.
        The column headings are: "Call Type", "Description", "Category", "Is System Defined",
        "Support E164", "Charge".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callTypeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingCallTypeModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a routing call type.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="category" type="CallCategory" minOccurs="0"/>
          <xs:element name="supportE164" type="xs:boolean" minOccurs="0"/>
          <xs:element name="description" type="CallTypeDescription" minOccurs="0" nillable="true"/>
          <xs:element name="charge" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingPolicyGetInstanceListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of instances for a given policy type.
        The response is either SystemRoutingPolicyGetInstanceListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="policyName" type="PolicyName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingPolicyGetInstanceListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingPolicyGetInstanceListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="instance" type="PolicyInstanceName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingPolicyGetValidCallTypeRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of valid call types for a given policy instance.
        The response is either SystemRoutingPolicyGetValidCallTypeResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="policyName" type="PolicyName"/>
          <xs:element name="instance" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingPolicyGetValidCallTypeResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingPolicyGetValidCallTypeRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a routing profile.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a routing profile.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileAddSubscriptionRequest">
    <xs:annotation>
      <xs:documentation>
        Add a policy instance to an existing profile.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
          <xs:element name="policy" type="PolicyName" minOccurs="0"/>
          <xs:element name="instance" type="PolicyInstanceName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileDeleteSubscriptionRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a policy instance from a profile.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
          <xs:element name="policy" type="PolicyName" minOccurs="0"/>
          <xs:element name="instance" type="PolicyInstanceName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get all policy subscriptions of a routing profile.
        The response is either SystemRoutingProfileGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingProfileGetRequest.
        The column headings are: "Policy", "Instance".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="policySubscriptionTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of all routing profile entries.
        The response is either RoutingProfileGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingProfileGetListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileSetDefaultRequest">
    <xs:annotation>
      <xs:documentation>
        Set the default routing profile.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetDefaultRequest">
    <xs:annotation>
      <xs:documentation>
        Get the default routing profile.
        The response is either a SystemRoutingProfileGetDefaultResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest"/>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingProfileGetDefaultResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingProfileGetDefaultRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="profile" type="RoutingProfile"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a dial plan.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="isInitialDialPlan" type="xs:boolean" minOccurs="0"/>
          <xs:element name="isInitialE164DialPlan" type="xs:boolean" minOccurs="0"/>
          <xs:element name="isInitialSMSDialPlan" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a dial plan.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetRequest16sp2">
    <xs:annotation>
      <xs:documentation>
        Get properties of a dial plan.
        The response is either SystemRoutingDialPlanGetResponse16sp2 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetResponse16sp2">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanGetRequest16sp2.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isInitialDialPlan" type="xs:boolean"/>
          <xs:element name="isInitialE164DialPlan" type="xs:boolean"/>
          <xs:element name="isInitialSMSDialPlan" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetListRequest16sp2">
    <xs:annotation>
      <xs:documentation>
        Get list of dial plans for a given country code.
        The response is either SystemRoutingDialPlanGetListResponse16sp2 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanGetListResponse16sp2">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanGetListRequest16sp2.
        The column headings are: "Dial Plan", "Is Initial", "Is E164 Initial", "Is SMS Initial".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dialPlanTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a dial plan.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="isInitialDialPlan" type="xs:boolean" minOccurs="0"/>
          <xs:element name="isInitialE164DialPlan" type="xs:boolean" minOccurs="0"/>
          <xs:element name="isInitialSMSDialPlan" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a dial plan entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="matchClause" type="DialPlanMatchClause"/>
          <xs:element name="minLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="maxLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="prefixLength" type="PrefixLength" minOccurs="0"/>
          <xs:element name="action" type="DialPlanAction" minOccurs="0"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0"/>
          <xs:element name="description" type="DialPlanDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a dial plan entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="matchClause" type="DialPlanMatchClause"/>
          <xs:element name="minLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="maxLength" type="DialPlanDNLengthLimit"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get lisf of dial plan entries for a given dial plan.
        The response is either SystemRoutingDialPlanEntryGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanEntryGetListResponse.
        The column headings are: "From", "To", "Match", "Minimum", "Maximum", 
        "Call Type", "Prefix Length", "Action", "Alternate Call Indicator", "Description".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dialPlanEntryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get the properties of a dial plan entry.
        The response is either SystemRoutingDialPlanEntryGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="matchClause" type="DialPlanMatchClause"/>
          <xs:element name="minLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="maxLength" type="DialPlanDNLengthLimit"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDialPlanEntryGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="prefixLength" type="PrefixLength"/>
          <xs:element name="action" type="DialPlanAction" minOccurs="0"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0"/>
          <xs:element name="description" type="DialPlanDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDialPlanEntryModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a dial plan entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="dialPlan" type="DialPlanName"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="matchClause" type="DialPlanMatchClause"/>
          <xs:element name="minLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="maxLength" type="DialPlanDNLengthLimit"/>
          <xs:element name="callType" type="CallType" minOccurs="0"/>
          <xs:element name="prefixLength" type="PrefixLength" minOccurs="0"/>
          <xs:element name="action" type="DialPlanAction" minOccurs="0" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0" nillable="true"/>
          <xs:element name="description" type="DialPlanDescription" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a National Destination Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="fromNdc" type="NationalDestinationCode"/>
          <xs:element name="toNdc" type="NationalDestinationCode"/>
          <xs:element name="minStationCodeLength" type="DNLength"/>
          <xs:element name="maxStationCodeLength" type="DNLength"/>
          <xs:element name="ndcLength" type="DNLength"/>
          <xs:element name="name" type="NationalDestinationCodeName" minOccurs="0"/>
          <xs:element name="zone" type="ZoneName" minOccurs="0"/>
          <xs:element name="rateCenter" type="RateCenterName" minOccurs="0"/>
          <xs:element name="lcaId" type="NationalDestinationCodeLocalCallingAreaId" minOccurs="0"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Country Code National Destination Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="fromNdc" type="NationalDestinationCode"/>
          <xs:element name="toNdc" type="NationalDestinationCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of Country Code National Destination Code.
        The response is either SystemRoutingNationalDestinationCodeGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingNationalDestinationCodeGetListRequest.
        The column headings are: "From NDC", "To NDC", "Name", "Minimum Station Code Length", 
        "Maximum Station Code Length", "NDC Length", "Zone", "Rate Center", "Local Calling Area Id", "Alternate Call Indicator".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="nationalDestinationCodeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a Country Code National Destination Code.
        The response is either SystemRoutingNationalDestinationCodeGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="fromNdc" type="NationalDestinationCode"/>
          <xs:element name="toNdc" type="NationalDestinationCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingNationalDestinationCodeGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="name" type="NationalDestinationCodeName" minOccurs="0"/>
          <xs:element name="minStationCodeLength" type="DNLength"/>
          <xs:element name="maxStationCodeLength" type="DNLength"/>
          <xs:element name="ndcLength" type="DNLength"/>
          <xs:element name="zone" type="ZoneName" minOccurs="0"/>
          <xs:element name="rateCenter" type="RateCenterName" minOccurs="0"/>
          <xs:element name="lcaId" type="NationalDestinationCodeLocalCallingAreaId" minOccurs="0"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingNationalDestinationCodeModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Country Code National Destination Code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="fromNdc" type="NationalDestinationCode"/>
          <xs:element name="toNdc" type="NationalDestinationCode"/>
          <xs:element name="name" type="NationalDestinationCodeName" minOccurs="0" nillable="true"/>
          <xs:element name="minStationCodeLength" type="DNLength" minOccurs="0"/>
          <xs:element name="maxStationCodeLength" type="DNLength" minOccurs="0"/>
          <xs:element name="ndcLength" type="DNLength" minOccurs="0"/>
          <xs:element name="zone" type="ZoneName" minOccurs="0" nillable="true"/>
          <xs:element name="rateCenter" type="RateCenterName" minOccurs="0" nillable="true"/>
          <xs:element name="lcaId" type="NationalDestinationCodeLocalCallingAreaId" minOccurs="0" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingZoneAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Zone.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingZoneDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Zone.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingZoneGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of Zones for a given country code.
        The response is either SystemRoutingZoneGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="searchCriteriaExactCountryCode" type="SearchCriteriaExactCountryCode" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingZoneGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingZoneGetListRequest.
        The column headings are: "Country Code", "Zone".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="zoneTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingRateCenterAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Rate Center.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="description" type="RateCenterDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingRateCenterDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Rate Center.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingRateCenterGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of all Rate Center.
        The response is either SystemRoutingRateCenterGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="searchCriteriaExactCountryCode" type="SearchCriteriaExactCountryCode" minOccurs="0"/>
          <xs:element name="searchCriteriaExactZoneName" type="SearchCriteriaExactZoneName" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingRateCenterGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingRateCenterGetListRequest.
        The column headings are: "Country Code", "Zone", "Rate Center", "Description".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="rateCenterTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingRateCenterModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Rate Center.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="description" type="RateCenterDescription" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a Digit Manipulation Index.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="index" type="DigitManipulationIndex"/>
          <xs:element name="specification" type="DigitManipulationSpecification"/>
          <xs:element name="description" type="DigitManipulationDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a Digit Manipulation Index.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="index" type="DigitManipulationIndex"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of Digit Manipulation Index.
        The response is either SystemRoutingDigitManipulationIndexGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDigitManipulationIndexGetListRequest.
        The column headings are: "Digit Manipulation Index", "Specification", "Description".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="dmiTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a particular Digit Manipulation Index.
        The response is either SystemRoutingDigitManipulationIndexGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="index" type="DigitManipulationIndex"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingDigitManipulationIndexGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="specification" type="DigitManipulationSpecification"/>
          <xs:element name="description" type="DigitManipulationDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingDigitManipulationIndexModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a Digit Manipulation Index.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="index" type="DigitManipulationIndex"/>
          <xs:element name="specification" type="DigitManipulationSpecification" minOccurs="0"/>
          <xs:element name="description" type="DigitManipulationDescription" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdAddRequest">
    <xs:annotation>
      <xs:documentation>
        Add a local calling area id.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="cc" type="CountryCode"/>
          <xs:element name="lcaId" type="LocalCallingAreaId"/>
          <xs:element name="ndc" type="NationalDestinationCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="zone" type="ZoneName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="rateCenter" type="ZoneRateCenter" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="otherLcaId" type="LocalCallingAreaId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a local calling area id.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="cc" type="CountryCode"/>
          <xs:element name="lcaId" type="LocalCallingAreaId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdGetRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a local calling area id.
        The response is either SystemRoutingLocalCallingAreaIdGetResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="cc" type="CountryCode"/>
          <xs:element name="lcaId" type="LocalCallingAreaId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingLocalCallingAreaIdGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="ndc" type="NationalDestinationCode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="zone" type="ZoneName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="rateCenter" type="ZoneRateCenter" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="otherLcaId" type="LocalCallingAreaId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Get all local calling area ids.
        The response is either SystemRoutingLocalCallingAreaIdGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to SystemRoutingLocalCallingAreaIdGetListRequest.
        The column headings are: "Country Code", "Local Calling Aread Id".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="lcaIdTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemRoutingLocalCallingAreaIdModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify a local calling area id.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="cc" type="CountryCode"/>
          <xs:element name="lcaId" type="LocalCallingAreaId"/>
          <xs:element name="ndcList" type="ReplacementNationalDestinationCodeList" minOccurs="0" nillable="true"/>
          <xs:element name="zoneList" type="ReplacementZoneList" minOccurs="0" nillable="true"/>
          <xs:element name="rateCenterList" type="ReplacementZoneRateCenterList" minOccurs="0" nillable="true"/>
          <xs:element name="otherLcaIdList" type="ReplacementLocalCallingAreaIdList" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:simpleType name="CallTypeDescription">
    <xs:annotation>
      <xs:documentation>
        Call type description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="LocalCallingAreaId">
    <xs:annotation>
      <xs:documentation>
        Local Calling Area Id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="NationalDestinationCodeLocalCallingAreaId">
    <xs:annotation>
      <xs:documentation>
        National Destination Code Local Calling Area Id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="NationalDestinationCode">
    <xs:annotation>
      <xs:documentation>
        Dial Plan National Destination Code.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{1,10}"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="NationalDestinationCodeName">
    <xs:annotation>
      <xs:documentation>
        Dial Plan NDC name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="RateCenterDescription">
    <xs:annotation>
      <xs:documentation>
        Rate center description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="DigitManipulationSpecification">
    <xs:annotation>
      <xs:documentation>
        Digit Manipulation String obeying the following syntax:
        Format:
          Command1(operand1), Command2(operand2), ..., CommandN(operandN)
          where N is between 0 and 8 
        Commands:
          Cursor position   : END(),  MOV(y), POS(x),
          Digits removal    : DEL(x), LTR(s), RTR(s), TRM(s),
          Digits insertion  : APP(s), INS(s), PRE(s),
          Digits replacement: OVW(s), REP(s),
          Use other DMI     : DMI(x),
       Arguments:
          x : positive integer, y : integer, s : string
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="DigitManipulationDescription">
    <xs:annotation>
      <xs:documentation>
        Digit Manipulation Description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="ZoneRateCenter">
    <xs:annotation>
      <xs:documentation>
        Rate center pertaining to a zone..
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zone" type="ZoneName"/>
      <xs:element name="rateCenter" type="RateCenterName"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementNationalDestinationCodeList">
    <xs:annotation>
      <xs:documentation>
        A list of NDCs.
        By convention, an element of this type may be set to nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ndc" type="NationalDestinationCode" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementZoneList">
    <xs:annotation>
      <xs:documentation>
        A list of Zones.
        By convention, an element of this type may be set to nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zone" type="ZoneName" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementZoneRateCenterList">
    <xs:annotation>
      <xs:documentation>
        A list of Zone Rate Centers.
        By convention, an element of this type may be set to nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zoneRc" type="ZoneRateCenter" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementLocalCallingAreaIdList">
    <xs:annotation>
      <xs:documentation>
        A list of LCA Ids.
        By convention, an element of this type may be set to nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lcaId" type="LocalCallingAreaId" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>    
    
</xs:schema>
