1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/OCISchemaDataTypesNS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!-- Copyright (c) 2004-2005 Broadsoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!--       O C I   X M L   S C H E M A  :  D A T A   T Y P E S              -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="C" attributeFormDefault="qualified" elementFormDefault="qualified">
  <!-- ******************************************************************** -->
  <!-- M E S S A G E   P A R A M E T E R S                                  -->
  <!-- ******************************************************************** -->
  <!--
  The non-primitive attributes are listed here in alphabetical order.
  -->
  <xs:simpleType name="CallCategory">
    <xs:annotation>
      <xs:documentation>
        Call Category.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Local"/>
      <xs:enumeration value="National"/>
      <xs:enumeration value="InterLata"/>
      <xs:enumeration value="IntraLata"/>
      <xs:enumeration value="International"/>
      <xs:enumeration value="Private"/>
      <xs:enumeration value="Other"/>
      <xs:enumeration value="Emergency"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PolicyName">
    <xs:annotation>
      <xs:documentation>
        Valid policy names.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="XS Location"/>
      <xs:enumeration value="Call Screening"/>
      <xs:enumeration value="Call Typing"/>
      <xs:enumeration value="Destination Service Routing"/>
      <xs:enumeration value="Equal Access Service Call Routing"/>
      <xs:enumeration value="Enterprise Media Server Selection"/>
      <xs:enumeration value="Enterprise Network Gateway Routing"/>
      <xs:enumeration value="Enterprise Simple"/>
      <xs:enumeration value="Enterprise Subscriber Location"/>
      <xs:enumeration value="Equal Access"/>
      <xs:enumeration value="Extension Dialing"/>
      <xs:enumeration value="Far End Hop Off"/>
      <xs:enumeration value="Far End Routing"/>
      <xs:enumeration value="Media Server Selection"/>
      <xs:enumeration value="Near End Routing"/>
      <xs:enumeration value="Number Portability"/>
      <xs:enumeration value="Originator Redirect"/>
      <xs:enumeration value="Physical Location"/>
      <xs:enumeration value="Pre Call Typing"/>
      <xs:enumeration value="Rate Center Based Routing"/>
      <xs:enumeration value="Reverse Translation"/>
      <xs:enumeration value="Simple"/>
      <xs:enumeration value="SMS Near-End Routing"/>
      <xs:enumeration value="SMS Default Routing"/>
      <xs:enumeration value="Subscriber Location"/>
      <xs:enumeration value="Service Center Routing"/>
      <xs:enumeration value="Tandem Overflow"/>
      <xs:enumeration value="URL Dialing"/>
      <xs:enumeration value="Voice VPN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PolicyInstanceName">
    <xs:annotation>
      <xs:documentation>
        Policy instance name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CallType">
    <xs:annotation>
      <xs:documentation>
        Call type.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReplacementCallTypeList">
    <xs:annotation>
      <xs:documentation>
        A list of CallTypes.
        By convention, an element of this type may be set to nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="callType" type="CallType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RoutingNE">
    <xs:annotation>
      <xs:documentation>
        Routing NetworkElement name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResourceNE">
    <xs:annotation>
      <xs:documentation>
        Resource NetworkElement name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HostingNEName">
    <xs:annotation>
      <xs:documentation>
        Hosting NetworkElement name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CarrierName">
    <xs:annotation>
      <xs:documentation>
        Carrier name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CallDiversionSelector">
    <xs:annotation>
      <xs:documentation>
        Call selector.
        Determines whether all messages are handled or only message that have/do not have diversion info.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="All"/>
      <xs:enumeration value="No Redirect"/>
      <xs:enumeration value="Redirect"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResourceCost">
    <xs:annotation>
      <xs:documentation>
        Resource cost.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResourceWeight">
    <xs:annotation>
      <xs:documentation>
        Resource weight.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DigitManipulationIndex">
    <xs:annotation>
      <xs:documentation>
        Digit Manipulation Index.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="32767"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DestinationTrunkGroup">
    <xs:annotation>
      <xs:documentation>
        Destination Trunk Group.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanMatchClause">
    <xs:annotation>
      <xs:documentation>
        Dial plan matching clause.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Exact"/>
      <xs:enumeration value="Suffix"/>
      <xs:enumeration value="Prefix"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanName">
    <xs:annotation>
      <xs:documentation>
        Dial plan name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanDNLengthLimit">
    <xs:annotation>
      <xs:documentation>
        Dial plan entry DN length min/max limit.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanAction">
    <xs:annotation>
      <xs:documentation>
        Dial plan action.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanAlternateCallIndicator">
    <xs:annotation>
      <xs:documentation>
        Alternate Call Indicator token.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DialPlanDescription">
    <xs:annotation>
      <xs:documentation>
        Dial plan description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LATA">
    <xs:annotation>
      <xs:documentation>
        LATA id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="100"/>
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NetworkTrunkGroupId">
    <xs:annotation>
      <xs:documentation>
        Network trunk group Id.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DNLength">
    <xs:annotation>
      <xs:documentation>
        DN Length.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="23"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RateCenterName">
    <xs:annotation>
      <xs:documentation>
        Rate center name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="3"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZoneName">
    <xs:annotation>
      <xs:documentation>
        Zone name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RoutingProfile">
    <xs:annotation>
      <xs:documentation>
        Routing Profile.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="4"/>
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhysicalLocationId">
    <xs:annotation>
      <xs:documentation>
        The unique id of a Physical Location.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhysicalLocation">
    <xs:annotation>
      <xs:documentation>
        Physical geographic location name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PrefixLength">
    <xs:annotation>
      <xs:documentation>
        Resource cost.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="21"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MediaServerService">
    <xs:annotation>
      <xs:documentation>
        Valid media server service
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="all"/>
      <xs:enumeration value="annc"/>
      <xs:enumeration value="cfw-conf"/>
      <xs:enumeration value="cfw-largeconf"/>
      <xs:enumeration value="cfw-ivr"/>
      <xs:enumeration value="cfw-media"/>
      <xs:enumeration value="conf"/>
      <xs:enumeration value="dialog"/>
      <xs:enumeration value="fax"/>
      <xs:enumeration value="ivr"/>
      <xs:enumeration value="liveAudio"/>
      <xs:enumeration value="repeater"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrunkGroupTranslDescription">
    <xs:annotation>
      <xs:documentation> Trunk Group Translation Description.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PolicySupportLookupsType">
    <xs:annotation>
      <xs:documentation>
        Type of support for lookups specific per policy.  This value determines 
        if route processing continues or not after applying the policy.  It 
        also affects the behavior of the policy being applied.       
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="disable"/>
      <xs:enumeration value="enablePermissive"/>
      <xs:enumeration value="enableRestrictive"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddCicAsCacType">
    <xs:annotation>
      <xs:documentation>
        The different possible values for addCicAsCac elements.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="never"/>
      <xs:enumeration value="nsOnly"/>
      <xs:enumeration value="alwaysIfSub"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
