1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/RoutingPolicies/OCISchemaRoutingPolicyTrunkGroupTransl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  P O L I C Y  P A R T                   -->
<!--                                                                        -->
<!-- T R U N K   G R O U P   T R A N S L  P O L I C Y                       -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- T R U N K   G R O U P   T R A N S L    R E Q U E S T S  A N D  R E S P O N S E S   -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    RoutingPolicyTrunkGroupTranslAddInstanceRequest    
    RoutingPolicyTrunkGroupTranslDeleteInstanceRequest    
    RoutingPolicyTrunkGroupTranslGetInstanceRequest    
    RoutingPolicyTrunkGroupTranslModifyInstanceRequest    
    RoutingPolicyTrunkGroupTranslTableAddInstanceRequest    
    RoutingPolicyTrunkGroupTranslTableDeleteInstanceRequest    
    RoutingPolicyTrunkGroupTranslTableGetInstanceRequest    
    RoutingPolicyTrunkGroupTranslTableGetInstanceListRequest    
    RoutingPolicyTrunkGroupTranslTableModifyInstanceRequest    
    
  --> 
  
  <xs:complexType name="RoutingPolicyTrunkGroupTranslAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicyTrunkGroupTranslGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyTrunkGroupTranslGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a trunk group translation entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup"/>
          <xs:element name="description" type="TrunkGroupTranslDescription"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a trunk group translation entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given trunk group translation entry.
        The response is either RoutingPolicyTrunkGroupTranslTableGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyTrunkGroupTranslTableGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup"/>
          <xs:element name="description" type="TrunkGroupTranslDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableGetInstanceListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of trunk group translation entries.
        The response is either a RoutingPolicyTrunkGroupTranslTableGetInstanceListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactCallType" type="SearchCriteriaExactCallType" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDestinationTrunkGroup" type="SearchCriteriaExactDestinationTrunkGroup" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDescription" type="SearchCriteriaExactTrunkGroupTranslDescription" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableGetInstanceListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyTrunkGroupTranslTableGetInstanceListRequest.
        Contains a table of trunk group translations.
        The column headings are: "Call Type", "DTG", "Description".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="translationTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyTrunkGroupTranslTableModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a trunk group translation entry.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
          <xs:element name="description" type="TrunkGroupTranslDescription" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
</xs:schema>
