1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/RoutingPolicies/OCISchemaRoutingPolicyDestinationService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  P O L I C Y  P A R T                   -->
<!--                                                                        -->
<!-- D E S T I N A T I O N   S E R V I C E  P O L I C Y                     -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- D E S T I N A T I O N   S E R V I C E    R E Q U E S T S  A N D  R E S P O N S E S  -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    RoutingPolicyDestinationServiceAddInstanceRequest    
    RoutingPolicyDestinationServiceDeleteInstanceRequest    
    RoutingPolicyDestinationServiceGetInstanceRequest    
    RoutingPolicyDestinationServiceModifyInstanceRequest    
    RoutingPolicyDestinationServiceAddEntryRequest    
    RoutingPolicyDestinationServiceDeleteEntryRequest    
    RoutingPolicyDestinationServiceGetEntryRequest    
    RoutingPolicyDestinationServiceGetEntryListRequest    
    RoutingPolicyDestinationServiceModifyEntryRequest    
    
  --> 
  
  <xs:complexType name="RoutingPolicyDestinationServiceAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicyDestinationServiceGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to a RoutingPolicyDestinationServiceGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceAddEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a routing list entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="serviceName" type="ServiceName"/>
          <xs:element name="destination" type="DestinationServiceRouteDestination"/>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceDeleteEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a routing list entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="serviceName" type="ServiceName"/>
          <xs:element name="destination" type="DestinationServiceRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given routing list entry.
        The response is either a RoutingPolicyDestinationServiceGetEntryResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="serviceName" type="ServiceName"/>
          <xs:element name="destination" type="DestinationServiceRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetEntryResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyDestinationServiceGetEntryRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetEntryListRequest">
    <xs:annotation>
      <xs:documentation>
        Get routing list entries.
        The response is either a RoutingPolicyDestinationServiceGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactServiceName" type="SearchCriteriaExactServiceName" minOccurs="0"/>
          <xs:element name="SearchCriteriaExactDn" type="SearchCriteriaExactDn" minOccurs="0"/>
          <xs:element name="SearchCriteriaExactRoutingNE" type="SearchCriteriaExactRoutingNE" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceCost" type="SearchCriteriaExactResourceCost" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceWeight" type="SearchCriteriaExactResourceWeight" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDigitManipulationIndex" type="SearchCriteriaExactDigitManipulationIndex" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDestinationTrunkGroup" type="SearchCriteriaExactDestinationTrunkGroup" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceGetEntryListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyDestinationServiceGetEntryListRequest.
        Contains a table of routing entries.
        The column headings are: "Service Name", "Address",
        "Routing Network Element", "Cost", "Weight", "DMI", "DTG".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="routingEntryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyDestinationServiceModifyEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a routing list entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="serviceName" type="ServiceName"/>
          <xs:element name="destination" type="DestinationServiceRouteDestination"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0" nillable="true"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="DestinationServiceRouteDestination">
    <xs:annotation>
      <xs:documentation>
        Represents the destination of the routing list entry.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="address" type="DN"/>
      <xs:element name="routingNE" type="RoutingNE"/>
    </xs:choice>
  </xs:complexType>    
    
  <xs:simpleType name="ServiceName">
    <xs:annotation>
      <xs:documentation>
        Service Name
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="SearchCriteriaExactServiceName">
    <xs:annotation>
      <xs:documentation>
        Criteria for searching for a particular fully specified ServiceName.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="SearchCriteria">
        <xs:sequence>
          <xs:element name="serviceName" type="ServiceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
</xs:schema>
