1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/RoutingPolicies/OCISchemaRoutingPolicySimple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  P O L I C Y  P A R T                   -->
<!--                                                                        -->
<!-- S I M P L E  P O L I C Y                                               -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- S I M P L E    R E Q U E S T S  A N D  R E S P O N S E S                           -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    RoutingPolicySimpleAddInstanceRequest    
    RoutingPolicySimpleDeleteInstanceRequest    
    RoutingPolicySimpleGetInstanceRequest    
    RoutingPolicySimpleModifyInstanceRequest    
    RoutingPolicySimpleAddGatewayRequest    
    RoutingPolicySimpleDeleteGatewayRequest    
    RoutingPolicySimpleGetGatewayRequest    
    RoutingPolicySimpleGetGatewayListRequest    
    RoutingPolicySimpleModifyGatewayRequest    
    
  --> 
  
  <xs:complexType name="RoutingPolicySimpleAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicySimpleGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicySimpleGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleAddGatewayRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a gateway entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="gateway" type="GatewayName"/>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
          <xs:element name="domain" type="DomainName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleDeleteGatewayRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a gateway entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="gatewayName" type="GatewayName"/>
          <xs:element name="domain" type="DomainName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetGatewayRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given gateway entry.
        The response is either a RoutingPolicySimpleGetGatewayResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="gatewayName" type="GatewayName"/>
          <xs:element name="domain" type="DomainName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetGatewayResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicySimpleGetGatewayRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetGatewayListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of gateway entries.
        The response is either a RoutingPolicySimpleGetGatewayListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactGatewayName" type="SearchCriteriaExactGatewayName" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDomainName" type="SearchCriteriaExactDomainName" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleGetGatewayListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicySimpleGetGatewayListRequest.
        The column headings are: "Gateway", "Domain", "Cost", "Weight".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="gatewayTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicySimpleModifyGatewayRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a gateway entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="gateway" type="GatewayName"/>
          <xs:element name="domain" type="DomainName" minOccurs="0"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:simpleType name="GatewayName">
    <xs:annotation>
      <xs:documentation>
        The name of a gateway.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="SearchCriteriaExactGatewayName">
    <xs:annotation>
      <xs:documentation>
        Criteria for searching for a particular GatewayName.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="SearchCriteria">
        <xs:sequence>
          <xs:element name="gatewayName" type="GatewayName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
</xs:schema>
