1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/RoutingPolicies/OCISchemaRoutingPolicyRateCenter.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  P O L I C Y  P A R T                   -->
<!--                                                                        -->
<!-- R A T E   C E N T E R  P O L I C Y                                     -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- R A T E   C E N T E R    R E Q U E S T S  A N D  R E S P O N S E S                 -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    RoutingPolicyRateCenterAddInstanceRequest18    
    RoutingPolicyRateCenterDeleteInstanceRequest    
    RoutingPolicyRateCenterGetInstanceRequest18    
    RoutingPolicyRateCenterModifyInstanceRequest18    
    RoutingPolicyRateCenterAddLATARequest    
    RoutingPolicyRateCenterDeleteLATARequest    
    RoutingPolicyRateCenterGetLATAEntryRequest    
    RoutingPolicyRateCenterGetLATAListRequest    
    RoutingPolicyRateCenterModifyLATARequest    
    RoutingPolicyRateCenterAddZoneRequest    
    RoutingPolicyRateCenterDeleteZoneRequest    
    RoutingPolicyRateCenterGetZoneEntryRequest    
    RoutingPolicyRateCenterGetZoneListRequest    
    RoutingPolicyRateCenterModifyZoneRequest    
    
  --> 
  
  <xs:complexType name="RoutingPolicyRateCenterAddInstanceRequest18">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="isCicRequired" type="xs:boolean"/>
          <xs:element name="useCicAlways" type="xs:boolean"/>
          <xs:element name="addCicAsCac" type="AddCicAsCacType"/>
          <xs:element name="keepPrefix" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetInstanceRequest18">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicyRateCenterGetInstanceResponse18 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetInstanceResponse18">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyRateCenterGetInstanceRequest18.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="isCicRequired" type="xs:boolean"/>
          <xs:element name="useCicAlways" type="xs:boolean"/>
          <xs:element name="addCicAsCac" type="AddCicAsCacType"/>
          <xs:element name="keepPrefix" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterModifyInstanceRequest18">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
          <xs:element name="isCicRequired" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useCicAlways" type="xs:boolean" minOccurs="0"/>
          <xs:element name="addCicAsCac" type="AddCicAsCacType" minOccurs="0"/>
          <xs:element name="keepPrefix" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterAddLATARequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a LATA entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="lata" type="LATA"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterDeleteLATARequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a LATA entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="lata" type="LATA"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetLATAEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties for a given LATA entry.
        The response is either a RoutingPolicyRateCenterGetLATAEntryResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="lata" type="LATA"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetLATAEntryResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyRateCenterGetLATAEntryRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetLATAListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of LATA entries.
        If undefinedRateCenter flag is set, only entries whose rate center is not in the list of rate centers
        defined for the NNACL entries are returned.
        The response is either a RoutingPolicyRateCenterGetLATAListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactCallType" type="SearchCriteriaExactCallType" minOccurs="0"/>
          <xs:element name="searchCriteriaExactLATA" type="SearchCriteriaExactLATA" minOccurs="0"/>
          <xs:element name="searchCriteriaExactRateCenterName" type="SearchCriteriaExactRateCenterName" minOccurs="0"/>
          <xs:element name="searchCriteriaExactAddress" type="SearchCriteriaExactDn" minOccurs="0"/>
          <xs:element name="searchCriteriaExactRoutingNE" type="SearchCriteriaExactRoutingNE" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceCost" type="SearchCriteriaExactResourceCost" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceWeight" type="SearchCriteriaExactResourceWeight" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDigitManipulationIndex" type="SearchCriteriaExactDigitManipulationIndex" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDestinationTrunkGroup" type="SearchCriteriaExactDestinationTrunkGroup" minOccurs="0"/>
          <xs:element name="undefinedRateCenter" type="xs:boolean" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetLATAListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyRateCenterGetLATAListRequest.
        The column headings are: "Call Type", "LATA", "Rate Center", "Address", "Routing Network Element",
        "Cost", "Weight", "Digit Manipulation Index", "Destination Trunk Group".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="lataTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterModifyLATARequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a LATA entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="lata" type="LATA"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0" nillable="true"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterAddZoneRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a zone entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterDeleteZoneRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a zone entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetZoneEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given zone entry.
        The response is either a RoutingPolicyRateCenterGetZoneEntryResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetZoneEntryResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyRateCenterGetZoneEntryRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="cost" type="ResourceCost"/>
          <xs:element name="weight" type="ResourceWeight"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetZoneListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the list of zone entries.
        If undefinedRateCenter flag is set, only entries whose rate center is not in the list of rate centers
        defined for the NNACL entries are returned.
        The response is either a RoutingPolicyRateCenterGetZoneListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactCallType" type="SearchCriteriaExactCallType" minOccurs="0"/>
          <xs:element name="searchCriteriaExactRateCenterName" type="SearchCriteriaExactRateCenterName" minOccurs="0"/>
          <xs:element name="searchCriteriaExactCountryCode" type="SearchCriteriaExactCountryCode" minOccurs="0"/>
          <xs:element name="searchCriteriaExactZoneName" type="SearchCriteriaExactZoneName" minOccurs="0"/>
          <xs:element name="searchCriteriaExactAddress" type="SearchCriteriaExactDn" minOccurs="0"/>
          <xs:element name="searchCriteriaExactRoutingNE" type="SearchCriteriaExactRoutingNE" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceCost" type="SearchCriteriaExactResourceCost" minOccurs="0"/>
          <xs:element name="searchCriteriaExactResourceWeight" type="SearchCriteriaExactResourceWeight" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDigitManipulationIndex" type="SearchCriteriaExactDigitManipulationIndex" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDestinationTrunkGroup" type="SearchCriteriaExactDestinationTrunkGroup" minOccurs="0"/>
          <xs:element name="undefinedRateCenter" type="xs:boolean" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterGetZoneListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyRateCenterGetZoneListRequest.
        The column headings are: "Call Type", "Country Code", "Zone", "Rate Center", "Address", "Routing Network Element",
        "Cost", "Weight", "Digit Manipulation Index", "Destination Trunk Group".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="zoneTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyRateCenterModifyZoneRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a zone entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="zone" type="ZoneName"/>
          <xs:element name="rateCenter" type="RateCenterName"/>
          <xs:element name="destination" type="RateCenterRouteDestination"/>
          <xs:element name="cost" type="ResourceCost" minOccurs="0"/>
          <xs:element name="weight" type="ResourceWeight" minOccurs="0"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0" nillable="true"/>
          <xs:element name="destinationTrunkGroup" type="DestinationTrunkGroup" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RateCenterRouteDestination">
    <xs:annotation>
      <xs:documentation>
        Represents the destination of the routing list entry.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="address" type="DN"/>
      <xs:element name="routingNE" type="RoutingNE"/>
    </xs:choice>
  </xs:complexType>    
    
</xs:schema>
