1_RESOURCES/client files/Schemas-%26-MIBs_R20/Rel_20.0_1.606_OCISchema_ALL/Rel_20.0_1.606_OCISchemaNS/RoutingPolicies/OCISchemaRoutingPolicyReverseTranslation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  P O L I C Y  P A R T                   -->
<!--                                                                        -->
<!-- R E V E R S E   T R A N S L A T I O N  P O L I C Y                     -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Network Server      -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaDataTypesNS.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteriaNS.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- R E V E R S E   T R A N S L A T I O N    R E Q U E S T S  A N D  R E S P O N S E S  -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    RoutingPolicyReverseTranslationAddInstanceRequest    
    RoutingPolicyReverseTranslationDeleteInstanceRequest    
    RoutingPolicyReverseTranslationGetInstanceRequest    
    RoutingPolicyReverseTranslationModifyInstanceRequest    
    RoutingPolicyReverseTranslationAddRuleRequest    
    RoutingPolicyReverseTranslationDeleteRuleRequest    
    RoutingPolicyReverseTranslationGetRuleEntryRequest    
    RoutingPolicyReverseTranslationGetRuleListRequest    
    RoutingPolicyReverseTranslationModifyRuleRequest    
    
  --> 
  
  <xs:complexType name="RoutingPolicyReverseTranslationAddInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="forceAnswerOnNoMatch" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationDeleteInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a policy instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Get attributes of a policy instance.
        The response is either RoutingPolicyReverseTranslationGetInstanceResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetInstanceResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyReverseTranslationGetInstanceRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isEnabled" type="xs:boolean"/>
          <xs:element name="callType" type="CallType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="forceAnswerOnNoMatch" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationModifyInstanceRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify attributes of a policy instance.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="isEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="callTypeList" type="ReplacementCallTypeList" nillable="true" minOccurs="0"/>
          <xs:element name="forceAnswerOnNoMatch" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationAddRuleRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add a rule entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="callCategory" type="CallCategory" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" nillable="true"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationDeleteRuleRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete a rule entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="callCategory" type="CallCategory" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetRuleEntryRequest">
    <xs:annotation>
      <xs:documentation>
        Get properties of a given rule entry.
        The response is either a RoutingPolicyReverseTranslationGetRuleEntryResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="callCategory" type="CallCategory" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetRuleEntryResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyReverseTranslationGetRuleEntryRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetRuleListRequest">
    <xs:annotation>
      <xs:documentation>
        Get list of rule entries.
        The response is either a RoutingPolicyReverseTranslationGetRuleListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="searchCriteriaExactCallType" type="SearchCriteriaExactCallType" minOccurs="0"/>
          <xs:element name="searchCriteriaExactFrom" type="SearchCriteriaExactDn" minOccurs="0"/>
          <xs:element name="searchCriteriaExactTo" type="SearchCriteriaExactDn" minOccurs="0"/>
          <xs:element name="searchCriteriaExactCallCategory" type="SearchCriteriaExactCallCategory" minOccurs="0"/>
          <xs:element name="searchCriteriaExactAltCallInd" type="SearchCriteriaExactDialPlanAlternateCallIndicator" minOccurs="0"/>
          <xs:element name="searchCriteriaExactDigitManipulationIndex" type="SearchCriteriaExactDigitManipulationIndex" minOccurs="0"/>
          <xs:element name="responsePagingRestriction" type="ResponsePagingRestriction" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationGetRuleListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to RoutingPolicyReverseTranslationGetRuleListRequest.
        The column headings are: "Call Type", "From", "To", "Call Category", "Alternate Call Indicator", "Digit Manipulation Index".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="ruleTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="RoutingPolicyReverseTranslationModifyRuleRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify a rule entry.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="name" type="PolicyInstanceName"/>
          <xs:element name="callType" type="CallType"/>
          <xs:element name="from" type="DN"/>
          <xs:element name="to" type="DN"/>
          <xs:element name="callCategory" type="CallCategory" nillable="true"/>
          <xs:element name="alternateCallIndicator" type="DialPlanAlternateCallIndicator" nillable="true"/>
          <xs:element name="digitManipulationIndex" type="DigitManipulationIndex" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
</xs:schema>
